body{
  font-family: '\5FAE\8F6F\96C5\9ED1';
  background-image: url("../img/bg.jpg");
}

div#verifycode img {
  margin-top: 16px;
  width: 90%;
  height: 50px;
}

/**** register page ****/
#register {
  width: 80%;
  margin: 10px auto;
}
#register div.ui.left.input {
  font-size: 1.2em;
  font-weight: 900;
}
#register div.ui.corner.label {
  opacity: .5;
}


/**** login page ****/
#login{
  width: 350px;
  margin: 10px auto;
}

@media screen and (max-width: 800px) {
  .column {
    min-width: 98%;
    max-width: 780px;
  }
  div.ui.popup.right{
    display: none;
  }
  .ui.vertical.divider {
    display: none;
  }
}

@media screen and (max-width: 320px) {
  .column {
    min-width: 300px;
    max-width: 310px;
  }
  .ui.vertical.divider {
    display: none;
  }
}

/** public **/
div.ui.page.grid.body {
  padding-top: 5.5rem;
}

/** home **/
.fixed.light.following.bar {
background-color: #FFFFFF;
border-bottom: 1px solid #DDDDDD;
box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
}
.fixed.following.bar {
position: fixed;
top: 0px;
padding: 1em 0em;
background-color: #FFFFFF;
}
.fixed.following.bar {
background-image: none;
}
.following.bar {
position: absolute;
top: 0px;
z-index: 900;
left: 0%;
padding: 2em 0em;
width: 100%;
box-shadow: 0px 0px 0px 0px transparent;
border-bottom: 1px solid transparent;
transition: padding 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
}
.following.bar .additional.item {
display: none;
}
.following.bar .view-ui.item:hover {
  color: #D9499A;
}
.following .logo {
float: left;
width: 35px;
margin-right: 1em;
}
.following .logo .side {
width: 35px;
}
.following.bar .column > .menu {
margin-top: 0px;
height: 35px;
font-weight: bold;
}